* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #111;
    color: #ccc;
    padding: 32px;
}

@mixin progress {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    color: #111;
    font-weight: bold;

    &>div {
        height: 24px;
        width: 100%;
        transition: flex-basis, 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-of-type {
            background-color: rgb(172, 172, 172);
        }

        &:last-of-type {
            background-color: rgb(118, 255, 118);
        }
    }
}

#result{
    margin: 32px 0;
    .progress{
        @include progress;
    }
}

#map {
    display: flex;
    gap: 16px;
    >div {
        display: flex;
        align-items: center;
        gap: 8px;
        .color {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 4px;

        }

        .name {}

        &:first-of-type .color {
            background-color: rgb(172, 172, 172);
        }
    
        &:last-of-type .color {
            background-color: rgb(118, 255, 118);
        }
    }
}

#log {
    padding: 16px;
    margin-bottom: 32px;
    height: 200px;
    border-radius: 4px;
    background-color: #ccc;
    color: #111;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    p {
        font-weight: 500;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 32px;

    .suit {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            font-size: 12px;
            font-weight: 500;
        }

        &__progress {
            @include progress;
        }
    }
}